* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(white, black);
}

.vertical {
    height: 60vh;
    width: 10vh;
    border-radius: 5vh;
}

.horizontal {
    height: 10vh;
    width: 60vh;
    border-radius: 5vh;
}

a {
    font-style: normal;
    text-decoration: none;
}

a:hover {
    animation: slide 3s ease infinite
}

section {
    position: fixed;
    left: 10px;
    bottom: 7.5px;
    height: 12.5vh;
    width: calc(100vw - 20px);
    border-radius: 5vh;
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center;
    background-color: black;
}

p {
    font-size: 10vh;
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center;
    background-color: black;
    color: white;
    height: 15vh;
    width: 50vw;
    border-radius: 7.5vh;
    margin: 2.5vh;
}

span.span {
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center;
}

.page {
    height: 10vh;
    width: 30vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center; /* Penengah Vertikal */
    color: white;
    border: 2px white solid;
}

.page.n1 {
    background-color: red;
}

.page.n2 {
    background-color: yellow;
    color: black;
}

.page.n3 {
    background-color: green;
} 

.page.n4 {
    background-color: blue;
}

.page:hover {
    background-color: white;
    color: black;
}

div.background {
    display: flex;
    gap: 5vw;
    align-items: center; /* Penengah Vertikal */
    justify-content: center; /* Penengah Horizontal */
    width: 75vw;
}

section.section {
    background-image: linear-gradient(to right, white, black, white);
}

.back {
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 10vh;
    width: 30vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center; /* Penengah Vertikal */
    background-color: red;
    color: white;
    border: 2px white solid;
}

.back:hover {
    background-color: white;
    color: red;
}

.org {
    height: 10vh;
    width: 30vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center; /* Penengah Vertikal */
    border: 2px white solid;
    color: white;
}

.org:hover {
    background-color: white;
    color: black;
}

.next {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 10vh;
    width: 30vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center; /* Penengah Horizontal */
    align-items: center; /* Penengah Vertikal */
    background-color: blue;
    color: white;
    border: 2px white solid;
}

.next:hover {
    background-color: white;
    color: blue;
}

.vertical.n1 {
    background-color: blue;
    margin-top: 20vh;
    margin-left: 50vh;
    /* align-items: center; */
}

.vertical.n2 {
    display: none;
    background-color: darkorchid;
    margin-top: -50vh;
    margin-left: 125vh;
}

.vertical.n3 {
    background-color: blue;
    margin-top: 20vh;
    margin-left: 50vh;
}

.vertical.n4 {
    background-color: darkorchid;
    height: 50vh;
    margin-top: -50vh;
    margin-left: 125vh;
}

.vertical.n5 {
    background-color: blue;
    margin-top: 20vh;
    margin-left: 70vh;
}

.vertical.n6 {
    background-color: gainsboro;
    margin-top: -60vh;
    margin-left: 115vh;
}

.vertical.n7 {
    background-color: blue;
    margin-top: 20vh;
    margin-left: 80vh;
}

.horizontal {
    background-color: thistle;
    margin-top: -20vh;
    margin-left: 100vh;
}

@keyframes slide {
    0%, 100% {opacity: 0; }
    10%, 90% {opacity: 1; }
}